.menu-text {
	color: $white;
	font-size: 22px;
	padding: 0;
}

.top-bar .menu a {
	color: $white;
	&:hover {
		color: map-get($foundation-palette, red);
	}
}

.app-header {
	margin-bottom: 2rem;
}

.thumbnail:hover {
  box-shadow: 0 0 6px 1px map-get($foundation-palette, red);
}

.parameters {
	margin-bottom: 2rem;
	li {
		list-style-type: none;
	}
  label {
    margin: 1rem 0;
  }
  .switch {
    margin-bottom: 0;
  }
  .api-ref {
    color: lighten(map-get($foundation-palette, green), 10%);
  }
}

#article-feed {
	margin-bottom: 2rem;
}

.blog-post small {
	padding-left: 10px;
}

.callout .menu > li > a {
	display: inline;
	border-bottom: 1px dotted map-get($foundation-palette, red);
	&:hover {
		border-bottom: 1px solid map-get($foundation-palette, red);
	}
}

.section {
  color: map-get($foundation-palette, primary);
}

.read-more {
  margin-bottom: 2rem;
}

.footer {
  background-color: darken(map-get($foundation-palette, grey), 10%);
  // background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: $white;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

#article_popup {
  transform: scale(0.8);
  width: 80%;
  height: 80%;
}

.popup_visible #article_popup {
  transform: scale(1);
}

#article_popup iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

#article_popup i {
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  float: right;
  background-image:  url("../img/icon-close-circled-128.png");
  background-size: 30px;
  background-repeat: no-repeat;
  z-index: 999;
  height: 30px;
  width: 30px;
  margin: 3px;
  margin-right: -30px;
  cursor: pointer;
}

.article_popup_open{
  cursor: pointer;
}